body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
   
}



.bottom-left-div{
    position: absolute;
    left:0.5%;
    width: 100%;
    height:98%;
    border: 2px solid #333; /* Border color */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Box shadow for 3D effect */
    

}
.gmnoprint{display: none !important;}
.popup{display:none;}

